.wrap {
  margin-top: 16px;
}

.track {
  height: 8px;
  background: var(--primary-light);
  border-radius: 999px;
  overflow: hidden;
  margin-top: 9px;
}
.track > i {
  display: block;
  height: 100%;
  background: var(--primary);
  border-radius: 999px;
  transition: width .3s ease;
}
